<div class="modal-header">
	<h1>Profile to be submitted</h1>
</div>

<div class="modal-body">
	<div>
		<label> Resume </label>
		<form id="fileUpload" action="javascript:;"
			enctype="multipart/form-data" method="post" accept-charset="utf-8">
			<input type="file" name="image" />
		</form>
	</div>
	<br />
	<form role="form">

		<div class="form-group">
			<img ng-src="{{item.profile.picKey}}" alt="Mountain View"
				style="width: 150px; height: 150px;" />
		</div>
		<div class="form-group">
			<label> First Name </label> <span ng-bind="item.profile.firstName">
			</span>
		</div>
		<div class="form-group">
			<label> Last Name </label> <span ng-bind="item.profile.lastName">
			</span>
		</div>
		<div class="form-group">
			<label> Self Introduction </label> <span
				ng-bind="item.profile.selfIntroduction"> </span>
		</div>
		<div class="form-group">
			<label> Work experience </label> <span
				ng-bind="item.profile.workExperience"> </span>
		</div>
		<div class="form-group">
			<label> Education </label> <span ng-bind="item.profile.education">
			</span>
		</div>
		<div class="form-group">
			<label> Skills </label> <span ng-bind="item.profile.skills"> </span>
		</div>


	</form>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">Submit</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" ng-click="upload()">Upload
		Resume</button>
</div>