<div class="container" ng-controller="browseJobCtrl">

    <div class="col-xs-1 col-md-2"></div>

    <div class="col-xs-10 col-md-8">

        <div class="panel panel-info">

            <div class="panel-heading">

                <div class="panel-title">

                    <div class="row" style="padding:4px">

                        <div class="col-md-3"><h4>&nbsp;&nbsp;&nbsp;&nbsp;Filters</h4></div>

                        <div class="col-md-2">

                            <label style="margin-top: 5px">
                                Open &nbsp;
                                <input type="checkbox" ng-model="jobStatus.open" ng-checked="{{jobStatus.open}}">
                            </label>

                        </div>
                        <div class="col-md-2">

                            <label style="margin-top: 5px">
                                Closed &nbsp;
                                <input type="checkbox" ng-model="jobStatus.closed" ng-checked="{{jobStatus.closed}}">
                            </label>

                        </div>
                        <div class="col-md-2">

                            <label style="margin-top: 5px">
                                Filled &nbsp;
                                <input type="checkbox" ng-model="jobStatus.filled" ng-checked="{{jobStatus.filled}}">
                            </label>

                        </div>

                        <div class="col-md-3 text-right">
                            <button class="btn btn-primary btn-block" ng-click="applyFilters()">
                                Apply &nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </div>


                    </div>

                </div>

            </div>

            <div class="alert alert-info text-center" role="alert"
                 ng-hide=loadFailMsg
                 style="margin-top: 10px; margin-left: 10px; margin-right: 10px">Sorry!
                Please refresh the page to view all Job Positions.
            </div>

            <div class="alert alert-info text-center" role="alert"
                 ng-hide=noSuchJobs
                 style="margin-top: 10px; margin-left: 10px; margin-right: 10px">Sorry!
                No such Job Positions.
            </div>

            <div class="panel-body" style="background: #FDFDFD">

                <div class="row" ng-repeat="jobPosition in jobPositions"
                     style="border: 2px solid #CDE7F5; margin: 5px">

                    <div class="col-xs-6 col-md-6">
                        <h4>
                            Title: <strong>{{jobPosition.title}}</strong>
                        </h4>
                        <h4>
                            <small>Description: {{jobPosition.description}}</small>
                        </h4>
                        <h4>
                            <small>Responsibilites: <em>{{jobPosition.responsibilities}}</em></small>
                        </h4>
                    </div>
                    <div class="col-xs-6 col-md-6 text-right">
                        <h5>
                            Salary: <strong>${{jobPosition.salary}}</strong>
                        </h5>
                        <h5>
                            Location: <strong>{{jobPosition.officeLocation}}</strong>
                        </h5>
                        <a type="button" class="btn btn-primary"
                           href="#jobDetail/{{jobPosition.jobId}}">
                            View Detail &nbsp; <span class="glyphicon glyphicon-chevron-right"/>
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col-xs-1 col-md-2"></div>


</div>